{% load staticfiles %}
<html>
<head>
    <title>
        {% block title %}Home{% endblock title %}
    </title>

    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{% static "campus/bootstrap/css/bootstrap.min.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "campus/bootstrap/css/bootstrap-responsive.min.css" %}">
    {% endblock stylesheets %}
</head>
<body>

	<h1>Create an event for {{ room.name }}</h1>
	{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

	<form action="{% url 'booking:create' room.id %}" method="post">
	{% csrf_token %}

		<p>Event name:<input type="text" name="name" maxLength=50>*
		<br>Event notes:<input type="text" name="notes" maxLength=500></p>

		<p>Setup Date:<input type="date" name="setupDate"> (MM-DD-YYYY)*
		<br>Setup Time:<input type="time" name="setupTime"> (HH:MM AM/PM)*

		<p>Event Date:<input type="date" name="eventDate"> (MM-DD-YYYY)
		<br>Event Time:<input type="time" name="eventTime"> (HH:MM AM/PM)*

		<p>Teardown Date:<input type="date" name="teardownDate"> (MM-DD-YYYY)
		<br>Teardown Time:<input type="time" name="teardownTime"> (HH:MM AM/PM)*
		
		<p>End Date:<input type="date" name="endDate"> (MM-DD-YYYY)
		<br>End Time:<input type="time" name="endTime"> (HH:MM AM/PM)*</p>

		<p>Room attributes needed for event:</br>
		<ul>
			{% for attribute in attributes %}
        		<label class="checkbox" for="attribute{{ forloop.counter }}">
            	<input type=checkbox name="attributes" id="attribute{{ forloop.counter }}" value="{{ attribute.name }}">
            	{{ attribute.name }}
            	</label>
        	{% endfor %}
    	</ul>

		<p>Series:(Leave blank for none)</p>
		<ul>
			{% for serie in series %}
				<label class="radio" for="serie{{ forloop.counter }}">
				<input type=radio name="series" id="serie{{ forloop.counter }}" value="{{ serie.name }}">
				{{ serie.name }}
				</label>
			{% endfor %}
			<label>Create a series</label>
		</ul>

		<p><input class="btn" type=submit value="Create Event"></p>
	</form>
	<div>
		<br>* means field is required</br>
	</div>
	<a href="/campus/"> Return to campus view</a>

</body>