{% load staticfiles %}
<html>
<head>
    <title>
        {% block title %}Home{% endblock title %}
    </title>

    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{% static "campus/bootstrap/css/bootstrap.min.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "campus/bootstrap/css/bootstrap-responsive.min.css" %}">
    {% endblock stylesheets %}
</head>
<body>
    <div class="content">
        {% block content %}
            <div>Hello world!</div>
        {% endblock content %}
    </div>

    {% block javascript %}
        <script type="text/javascript" href="{% static "campus/bootstrap/js/bootstrap.min.js" %}"></script>
    {% endblock javascript %}
</body>
</html>
