{% load staticfiles %}
<html>
<head>
    <title>
        {% block title %}Home{% endblock title %}
    </title>

    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{% static "campus/bootstrap/css/bootstrap.min.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "campus/bootstrap/css/bootstrap-responsive.min.css" %}">
    {% endblock stylesheets %}
</head>
<body>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2">
                {% comment %}
                {% block sidebar %}
                    {% if attributes %}
                        <h1><p>Attributes</p></h1>
                        <form action ="{% url 'campus:search'  %}">
                        {% for attribute in attributes %}
                            <label class="checkbox" for="attribute{{ forloop.counter }}">
                                <input type=checkbox name="attributes" id="attribute{{ forloop.counter }}" value="{{ attribute.name }}">
                                {{ attribute.name }}
                            </label>
                        {% endfor %}
                        Occupancy: <input type="number" name="occupancy" onFocus="if(this.value==0)this.value='';" value="0" defaultValue="0">
                        <input class="btn" type=submit value="Search">
                        <input class="btn" type=submit value="Reset Search" name="reset">
                        </form>
                    {% else %}
                        <p>No attributes are listed</p>
                    {% endif %}
                {% endblock sidebar %}
                {% endcomment %}

                {% block sidebar %}
                    <h1><p>Search</p></h1>
                    <form action="{% url 'campus:search' %}" method="GET">
                        {{ form.as_p }}
                        <input class="btn" type=submit value="Search">
                        <input class="btn" type=submit value="Reset Search" name="reset">
                    </form>
                {% endblock sidebar %}
            </div>

            <div class="span10">
                {% block content %}
                    <div>Hello world!</div>
                {% endblock content %}
            </div>
        </div>
    </div>

    {% block javascript %}
        <script type="text/javascript" href="{% static "campus/bootstrap/js/bootstrap.min.js" %}"></script>
    {% endblock javascript %}
</body>
</html>
