{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    {% if attributes %}
        <h1><p>Attributes</p></h1>
        <form action ="{% url 'campus:search'  %}">
        {% for attribute in attributes %}
            <input type=checkbox name="attributes" id="attribute{{ forloop.counter }}" value="{{ attribute.name }}" />
            <label for="attribute{{ forloop.counter }}">{{ attribute.name }}</label><br />
        {% endfor %}
        <input type=submit value="search">
        </form>
    {% else %}
        <p>No attributes are listed</p>
    {% endif %}
{% endblock content %}